{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="profile-container">
            <div class="profile-header">
                {% if user.photo %}
                    <div class="profile-photo">
                        <img src="{{user.photo.url}}" alt="Фото профиля">
                    </div>
                {% else %}
                    <div class="profile-photo">
                        <img src="{% static 'users/img/empty_profile.jpeg' %}" alt="Фото профиля">
                    </div>
                {% endif %}
                <div class="profile-header-info">
                    <h2>{{ user.username }}</h2>
                    {% if user.first_name %}
                        <p><b>Имя:</b> {{ user.first_name }}</p>
                    {% endif %}
                    {% if user.last_name %}
                        <p><b>Фамилия:</b> {{ user.last_name }}</p>
                    {% endif %}
                    {% if user.date_birth %}
                        <p><b>Дата рождения:</b> {{ user.date_birth }}</p>
                    {% endif %}
                    <p><b>EMAIL:</b> {{ user.email }}</p>
                </div>
            </div>
            <div class="profile-actions">
                {% if user.id == request.user.id %}
                    <a class="profile-action-btn" href="{% url 'users:update_profile' %}">Редактировать профиль</a>
                    <a class="profile-action-btn" href="{% url 'users:password_reset' %}">Сменить пароль</a>
                    <a class="profile-action-btn" href="{% url 'users:logout' %}">Выйти из аккаунта</a>
                {% endif %}
            </div>
            <div class="profile-actions">
                {% if user.id == request.user.id %}
                    <a class="profile-action-btn" href="{% url 'core:create_post' %}">Создать проект</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}